<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React with ECMAScript 6</title>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href=".css/justified-nav.css" rel="stylesheet">
    <link href="./css/shop-homepage.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow26.js"></script>
</head>
<body>
<div id="body">
    <header class="clearfix">
        <div id="logo" class="col-sm-4 col-lg-4 col-md-4"></div>
        <div id="search" class="col-sm-6 col-lg-6 col-md-6"></div>
    </header>
    <div id="content" class="clearfix">
        <div id="filters" class="col-sm-2 col-lg-2 col-md-2"> Filters Section</div>
        <div id="result" class="col-sm-10 col-lg-10 col-md-10"><a href="http://nakup.itesco.cz" ><img src="./image/cms.jpg" /></a></div>
    </div>
    <footer class="clearfix">
        <ul class="col-sm-4 col-lg-4 col-md-4">
            <li>Help </li>
            <li>Contact Us </li>
            <li>Call - 999 999 999 </li>
        </ul>
        <ul class="col-sm-4 col-lg-4 col-md-4">
            <li>Terms and Conditions </li>
            <li>Guide Price</li>
            <li>Privacy and Cookies </li>
        </ul>
        <ul class="col-sm-4 col-lg-4 col-md-4">
            <li>Clubcard </li>
            <li>Vendors </li>
            <li>Stores </li>
        </ul>
        <div class="col-sm-11 col-lg-11 col-md-11 copyright">&copy; Tesco 2015</div>
    </footer>
</div>
<script src="./build/bundle.js"></script>
</body>
</html>
